.tiles-container {
  font-family: Helvetica Neue, sans-serif;
  width: 1132px;
  height: 315px;
  margin: 45px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  .tiles-container .tile {
    height: 315px;
    padding: 15px;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    cursor: pointer; }
    .tiles-container .tile:hover {
      background-color: #eeeeee; }
      .tiles-container .tile:hover .actions {
        display: inline; }
    .tiles-container .tile .actions {
      display: none;
      position: absolute;
      top: 13px;
      right: 14px;
      font-size: 18px;
      cursor: pointer; }
      .tiles-container .tile .actions i {
        margin-left: 6px;
        color: #666666; }
        .tiles-container .tile .actions i:last-child {
          color: white;
          background-color: #cb2026;
          padding: 5px;
          text-align: center; }
    .tiles-container .tile img {
      width: 200px;
      height: 200px; }
    .tiles-container .tile .details-container {
      height: 20%;
      width: 200px;
      position: absolute;
      bottom: 10px;
      clear: both; }
      .tiles-container .tile .details-container div {
        text-align: center;
        text-transform: uppercase; }
        .tiles-container .tile .details-container div:first-child {
          color: #cccccc;
          font-size: 11px;
          margin-bottom: 5px; }
        .tiles-container .tile .details-container div:nth-child(2) {
          color: #666666;
          margin-bottom: 5px;
          font-size: 15px; }
        .tiles-container .tile .details-container div:nth-child(3) {
          font-size: 13px;
          color: #009dc8; }

.header {
  color: white;
  font-family: Helvetica,sans-serif;
  background-color: #2e2e2e;
  height: 61px; }
  .header .tester {
    width: 10px;
    height: 10px;
    background-color: red; }
  .header .inner-container {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    line-height: 56px; }
    .header .inner-container input {
      position: absolute;
      top: 15px;
      right: 228px;
      height: 31px;
      width: 250px;
      border: none;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 2px; }
    .header .inner-container span {
      text-transform: uppercase; }
      .header .inner-container span:nth-child(2), .header .inner-container span.add-images, .header .inner-container span.add-products {
        font-size: 14px;
        font-weight: lighter;
        letter-spacing: 1.5px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        border-right: 1px solid #414141;
        padding: 22px;
        cursor: pointer; }
      .header .inner-container span.active {
        font-weight: bold; }
      .header .inner-container span img {
        float: left;
        cursor: pointer; }
    .header .inner-container .shopping-cart {
      cursor: pointer;
      float: right;
      background-color: #222222;
      color: white;
      width: 16%;
      height: 60px; }
      .header .inner-container .shopping-cart span {
        border: none; }
      .header .inner-container .shopping-cart i {
        font-size: 30px;
        height: 60px;
        line-height: 60px;
        padding-left: 18px; }
      .header .inner-container .shopping-cart .prod-count {
        float: left; }
        .header .inner-container .shopping-cart .prod-count .counter {
          position: absolute;
          right: 120px;
          top: 11px;
          display: inline-block;
          float: right;
          background-color: red;
          border: none;
          border-radius: 50%;
          height: 15px;
          width: 15px;
          padding: 1px;
          font-size: 11px;
          line-height: 15px;
          text-align: center;
          font-weight: 600;
          letter-spacing: normal; }
      .header .inner-container .shopping-cart div {
        margin-top: -6px;
        margin-left: 18px;
        float: left;
        color: #bbbbbb;
        font-weight: 500;
        font-size: 10px;
        letter-spacing: 1px;
        text-transform: uppercase; }
        .header .inner-container .shopping-cart div:last-child {
          margin-top: -39px;
          font-size: 13px;
          color: white; }

.shopping-cart-container {
  color: white;
  background-color: #222222;
  clear: both;
  z-index: 10000;
  position: relative;
  float: right; }
  .shopping-cart-container .shopping-cart-item span {
    border: none !important; }
    .shopping-cart-container .shopping-cart-item span i {
      float: none;
      font-size: 14px;
      color: #eeeeee; }
  .shopping-cart-container .shopping-cart-item input {
    position: initial; }

.main-container {
  font-family: Helvetica Neue, sans-serif; }
  .main-container .details-container {
    margin-top: 45px; }
    .main-container .details-container:after {
      clear: both;
      display: table;
      content: ' '; }
  .main-container .image-wrapper {
    float: left;
    width: 50%; }
    .main-container .image-wrapper img {
      display: block;
      margin: 0 auto; }
  .main-container .right-section {
    float: right;
    width: 50%; }
    .main-container .right-section div {
      text-transform: uppercase; }
      .main-container .right-section div:first-child {
        color: #cccccc;
        font-size: 18px;
        margin-bottom: 5px; }
      .main-container .right-section div:nth-child(2) {
        color: #666666;
        margin-bottom: 5px;
        font-size: 27px; }
    .main-container .right-section span {
      display: inline-block;
      color: #009dc8;
      font-size: 20px;
      margin-bottom: 26px;
      margin-top: 10px; }
    .main-container .right-section .description-container div:first-child {
      font-size: 13px;
      color: #555555; }
    .main-container .right-section .description-container div:last-child {
      font-size: 15px;
      font-weight: 200;
      text-transform: none;
      line-height: 25px; }
    .main-container .right-section a {
      display: inline-block;
      color: #666666;
      text-transform: uppercase;
      font-size: 10px;
      text-decoration: none;
      margin-bottom: 7px;
      font-weight: 500; }
    .main-container .right-section ul {
      color: #666666;
      font-size: 15px;
      font-weight: 200;
      text-transform: none;
      line-height: 20px; }
      .main-container .right-section ul li {
        list-style: circle;
        margin-left: 19px; }
    .main-container .right-section button {
      display: block;
      cursor: pointer;
      border: none;
      padding: 15px 25px;
      margin-top: 25px;
      background-color: #cb2026;
      border-radius: 3px;
      width: 100%;
      text-transform: uppercase;
      font-size: 15px;
      color: white;
      font-weight: 500;
      outline: none; }
      .main-container .right-section button:active {
        background-color: #a51a1f; }
    .main-container .right-section .quantity-container {
      margin-top: 25px; }
      .main-container .right-section .quantity-container div {
        font-weight: 500;
        font-size: 13px;
        color: #555555; }
      .main-container .right-section .quantity-container span {
        color: #888888;
        padding: 0 15px; }
      .main-container .right-section .quantity-container i {
        cursor: pointer;
        color: #666666;
        font-size: 12px; }

.top-container {
  position: relative;
  width: 100%;
  padding-bottom: 25px;
  margin-top: 45px; }
  .top-container.add-item {
    height: 0;
    margin-top: -60px;
    padding: 0;
    border: none; }
  .top-container .button-bar {
    width: 75%;
    margin: 31px auto 0; }
    .top-container .button-bar button {
      cursor: pointer;
      outline: none;
      padding: 10px 25px;
      background-color: #cb2026;
      border: none;
      border-radius: 3px;
      color: white;
      font-size: 15px; }

.add-tab {
  width: 1132px;
  margin: 0 auto; }
  .add-tab div {
    width: 118px;
    color: #666666;
    border: 1px solid #dddddd;
    border-top: none;
    font-family: Helvetica Neue,sans-serif;
    padding: 10px 15px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    text-align: center;
    float: right; }
  .add-tab:after {
    display: block;
    content: '';
    height: 1px; }

.divider-line {
  border-bottom: 1px solid #eeeeee; }

.product-count {
  margin: 50px auto -49px;
  box-sizing: border-box;
  padding: 20px;
  color: #555555;
  font-family: Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 500; }

.bottom-container {
  margin: 50px 0 100px; }
  .bottom-container table tr {
    font-size: 14px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee; }
    .bottom-container table tr:first-child {
      background-color: #f1f1f1;
      border: 1px solid #eeeeee;
      padding: 12px;
      box-sizing: border-box;
      text-transform: uppercase;
      color: #555555;
      font-size: 12px; }
    .bottom-container table tr th {
      padding: 15px;
      text-align: left; }
      .bottom-container table tr th input {
        margin: 0; }
    .bottom-container table tr td {
      padding: 12px 16px;
      color: #888888;
      border-bottom: 1px solid #eeeeee;
      vertical-align: middle; }
      .bottom-container table tr td:nth-child(3), .bottom-container table tr td:nth-child(4) {
        font-weight: bold;
        color: #666666; }
      .bottom-container table tr td:nth-child(8) {
        color: #009dc8; }
      .bottom-container table tr td:last-child {
        color: #cb2026; }
      .bottom-container table tr td i {
        font-size: 20px;
        cursor: pointer; }
      .bottom-container table tr td ul li {
        list-style: circle; }
  .bottom-container .products-list {
    margin-bottom: 25px; }

.admin-container {
  border: 1px solid #cccccc;
  width: 75%;
  margin: 0 auto;
  box-sizing: border-box; }
  .admin-container input, .admin-container textarea {
    width: 100%;
    border: none;
    padding: 0;
    font-size: 14px;
    color: #777777;
    outline: none;
    resize: none; }
  .admin-container textarea {
    height: 150px; }
  .admin-container label {
    display: inline-block;
    margin-bottom: 7px;
    text-transform: uppercase;
    color: #cccccc;
    font-size: 11px; }
  .admin-container span {
    width: 100%;
    display: inline-block;
    margin-right: -6px;
    padding: 12px;
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc; }
  .admin-container .add-chips {
    border-bottom: none; }
    .admin-container .add-chips span {
      display: inline-block;
      width: auto;
      min-width: 0;
      margin-right: 5px;
      margin-bottom: 5px;
      border: none;
      color: white;
      background-color: #cb2026;
      border-radius: 3px;
      padding: 5px 10px;
      font-weight: 500;
      font-size: 11px;
      text-transform: uppercase; }
      .admin-container .add-chips span i {
        margin-left: 8px;
        font-size: 15px;
        cursor: pointer; }
    .admin-container .add-chips textarea {
      display: inline-block;
      margin-top: 7px;
      height: auto; }
  .admin-container .bottom-form {
    width: 100%; }
    .admin-container .bottom-form span {
      width: 33.333333333%;
      border-right: 1px solid #cccccc;
      border-top: 1px solid #cccccc;
      border-bottom: none; }
      .admin-container .bottom-form span:last-child {
        width: 33.7%;
        border-right: none; }
      .admin-container .bottom-form span i {
        margin-right: 3px;
        font-size: 15px;
        color: #777777; }
      .admin-container .bottom-form span input:last-child {
        width: 93%; }

.images-container {
  width: 1132px;
  margin: 50px auto;
  color: #555555;
  font-family: Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 500;
  box-sizing: border-box;
  padding: 20px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  box-sizing: border-box; }

input[type='number'] {
  -moz-appearance: textfield; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.main-container {
  width: 1132px;
  margin: 0 auto; }
