<div class="inner-container">
    <div ng-show="noItems">No Items</div>
    <div class="shopping-cart-item" ng-repeat="product in shoppingCartProds">
        <img src="img/{{product.imgUrl}}" alt="prod photo" style="width: 50px; height: 50px;" />
        <span>{{product.name}}</span>
        <input type="number" ng-model="product.quantity" ng-keyup="addAmount(product.quantity)"/>
        <span>{{product.price}}</span>
        <span>{{shoppingCartTotal}}</span>
        <span ng-click="removeProd()"><i class="fa fa-remove"></i></span>
    </div>
    <div class="buttons" ng-hide="noItems">
        <button class="btn">Check Out <i class="fa fa-angle-right" ng-click="testFunct()"></i></button>
    </div>
</div>