.images-container{
  width: 1132px;
  margin: 50px auto;
  color: #555555;
  font-family: Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 500;
  box-sizing: border-box;
  padding: 20px;
}